body {
  font-family: 'Ubuntu', sans-serif;
}
.header {
  width: 100%;
  max-width: 1212px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
}

.wrap {
  width: 100%;
  max-width: 1212px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.nav>li {
  margin-left: 37px;
}

.nav>li>a {
  text-decoration: none;
  color: #202020;
}

.nav_btn {
  background-color: #5528FF;
  color: #fff;
  padding: 6px 14px;
  border-radius: 5px;
  align-items: center;
  border: none;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo_img {
  display: block;
  width: 58px;
  height: 58px;
  background-image: url(../img/mamon-logo.svg);
  margin-right: 20px;
}

.logo_text {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #202020;
}

.title-main {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 0.8px;
  color: #202020;
}
.text-main {
font-size: 32px;
color: #4F4F4F;
line-height: 1.5;
min-width: 745px;
letter-spacing: 0.8px;
margin-bottom: 2em;
}

.button {
  background: #5528FF;
  color: #fff;
  padding: 16px 59px;
  border-radius: 10px;
  align-items: center;
  border: none;
 font-size: 24px;
}
.content {
  position: relative;
  padding-top: 85px;
  padding-bottom: 109px;
}

.content-main {
  border-top: 1px solid #C2C2C2;
}

.content h2 {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  padding: 5px 58px;
  top: -22px;
  color: #C2C2C2;
}

.service {
  display: grid;
  grid-template:repeat(2, 1fr) / 50% 50%;
  grid-row-gap: 38px;
}

.service-item {
display: flex;
justify-content: flex-start;
align-items: center;
}

.service_img {
  flex-basis: 165px;
  text-align: center;
}

.service_text {
  flex-basis: calc(80% - 165px);
}

.service h3 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 17px;
}

.service p {
  font-size: 14px;
  color: #B2B2B2;
  line-height: 1.5;
}

.clients {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 25%);
  text-align: center;
  grid-row-gap: 44px;
  padding-top: 0;
  
}

.team {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-row-gap: 50px;
  padding-top: 20px;
}

.team-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.team-item img {
  margin-right: 35px;
}

.team-item>div {
  flex-basis: calc(100% - 100px);
}

.team-item h3 {
  font-size: 28px;
  color: #202020;
  margin-top: 7px;
  margin-bottom: 15px;
}

.team-item p {
  font-size: 14px;
  color: #B2B2B2;
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F7F7F7;
}

.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  margin-left: 15px;
}

.socials>li {
  padding-left: 40px;
}
.socials>li>a {
  text-decoration: none;
  color: #B2B2B2;
  font-size: 24px;
}